/* 
.card {
 background : transparent ;
 width : 300px ;
 height : 300px ;
 perspective : 1000px ;
}
.card-inner {

    position: relative ;
    width: 100% ;
    height: 100% ;
    text-align: center ;
    transition: transform 0.7s ;
    transform-style: preserve - 3d ;
}

.card:hover.card-inner {
    transform: rotateY ( 180deg ) ;
}
.card-front, .card-back {
    position : absolute ;
    width: 100% ;
    height: 100% ;
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    border-radius: 17px ;
}
.card-front {
    background : linear - gradient ( 317.48deg , #FF8F00 20.49% , #FFD601 102.33% ) ;
}

.card-front img {
    width : 250px ;
}
.card-back {
  background: linear - gradient ( 152.25deg , #FF8F00 38.17% , #FFD601 97.81% ) ;
   color: #FFFFFF ;
   transform: rotateY ( 180deg ) ;
}
.card-back img {
    width : 160px ;
}
.card-back h3 {
margin-bottom : 0.3rem ;
}

.card-back h1{
    margin:0
}

.prueba{
    transform: scale(1.5);
} */


.container {
  position: relative;
  width: 45%;
  border: 8px solid;
  border-image: repeating-linear-gradient(135deg,#5dd5ff 0 10px,#3ebcf9 0 20px,#8b80ff 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 560;
  height: 315
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: -9px 9px 5px -2px rgba(0, 0, 0, 0.35);
  
}
.container:hover{
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
}
.container:hover .image {
  opacity: 0.125;
  
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(93,213,255,1) 0%, rgba(62,188,249,1) 60%, rgba(139,128,255,1) 100%);
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: 450;
  width:430px
}

.columns {
  justify-content: space-around;
  background-color: #1da1f2;
  padding: 2px;
}

